<div class="col-xs-12" style="padding:10px;">
    <div class="col-xs-12" style="padding:10px">
        <div class="col-xs-12">
            <label for="" style="color:yellow; font-size: 15px;">Nivel: {{level}}</label>
        </div>
        <div class="col-xs-12">
            <mat-progress-bar mode="determinate" value="67"></mat-progress-bar>
        </div>
    </div>
    <div class="col-xs-12" style="padding:10px">
        <div class="col-xs-3">
            <mat-icon color="">stars</mat-icon>
        </div>
        <div class="col-xs-9">
            <label for="" style="color:yellow; font-size: 15px;">{{coins}}</label>
        </div>
    </div>
</div>


