<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div class="col-xs-12">
    <div class="col-xs-6" style="padding:20px">
        <div class="col-xs-4" style="padding:5px">
          <button mat-button routerLink="/shop" style="background-color: yellow;"><mat-icon>shopping_cart</mat-icon></button>
        </div>
        <div class="col-xs-4" style="padding:5px">
          <button mat-button routerLink="/games" style="background-color: yellow;"><mat-icon>videogame_asset</mat-icon></button>
        </div>
        <div class="col-xs-4" style="padding:5px">
          <button mat-button routerLink="/ranking" style="background-color: yellow;"><mat-icon>emoji_events</mat-icon></button>
        </div>
    </div>
    <div class="col-xs-6">
      <app-coins></app-coins>
    </div>
</div>
<router-outlet></router-outlet>

