<div class="col-xs-12">
    <div class="col-xs-6" style="padding-top:5%">
        <div class="col-xs-3">
          <button mat-button style="background-color: yellow;"><mat-icon>shopping_cart</mat-icon></button>
        </div>
        <div class="col-xs-3">
          <button mat-button style="background-color: yellow;"><mat-icon>format_list_numbered</mat-icon> Ranking</button>
        </div>
    </div>
    <div class="col-xs-6">
      <app-coins></app-coins>
    </div>
</div>
<div class="col-xs-12" style="text-align: center;">
  <label for=""style="color:white; font-size:30px;">{{character.nom}}</label>
</div>
<div class="col-xs-12">
  <div class="col-xs-1"></div>
  <div class="col-xs-10" style="background-color:#2E9AFE; border:3px solid white; opacity: 0.5; diplay:block;">
    <app-character-image></app-character-image>
  </div>
  <div class="col-xs-1"></div>
</div>
<div class="col-xs-5">
  <app-ship-image></app-ship-image>
</div>
