<div class="col-xs-12">
    <div class="col-xs-12" style="background-color:rgba(87, 140, 255, 0.7); border:3px solid yellow; color:white;">
        <div class="col-xs-6">
            <img src="../../assets/img/game1.png" style="height: 100px; width: 100px;" alt="">
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12"><label for="" style="color: white; font-size: 20px;">Jelly Crush</label></div>
        </div>
    </div>
    <div class="col-xs-12" style="background-color:rgba(87, 140, 255, 0.7); border:3px solid yellow; color:white;">
        <div class="col-xs-6">
            <img src="../../assets/img/game2.png" style="height: 100px; width: 100px;"  alt="">
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12"><label for="" style="color: white; font-size: 20px;">Need for Spirit</label></div>
        </div>
    </div>
    <div class="col-xs-12" style="background-color:rgba(87, 140, 255, 0.7); border:3px solid yellow; color:white;">
        <div class="col-xs-6">
            <img src="../../assets/img/game3.png" style="height: 100px; width: 100px;"  alt="">
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12"><label for="" style="color: white; font-size: 20px;">Wee Sports</label></div>
        </div>
    </div>
</div>

