<div class="col-xs-12">
    <div class="col-xs-12" style="background-color:rgba(87, 140, 255, 0.7); border:3px solid yellow; color:white;">
        <div class="col-xs-6">
            <img src="../../assets/img/super1.gif" style="height: 100px; width: 100px;" alt="">
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12"><label for="" style="color: white; font-size: 20px;">Batman</label></div>
        </div>
        <div class="col-xs-6"></div>
        <div class="col-xs-6" style="padding:10px">
            <div class="col-xs-3">
                <mat-icon color="">stars</mat-icon>
            </div>
            <div class="col-xs-9">
                <label for="" style="color:white; font-size: 15px;">193742</label>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="background-color:rgba(87, 140, 255, 0.7); border:3px solid yellow; color:white;">
        <div class="col-xs-6">
            <img src="../../assets/img/super2.gif" style="height: 100px; width: 100px;"  alt="">
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12"><label for="" style="color: white; font-size: 20px;">Edgar</label></div>
        </div>
        <div class="col-xs-6"></div>
        <div class="col-xs-6" style="padding:10px">
            <div class="col-xs-3">
                <mat-icon color="">stars</mat-icon>
            </div>
            <div class="col-xs-9">
                <label for="" style="color:white; font-size: 15px;">739</label>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="background-color:rgba(87, 140, 255, 0.7); border:3px solid yellow; color:white;">
        <div class="col-xs-6">
            <img src="../../assets/img/super3.gif" style="height: 100px; width: 100px;"  alt="">
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12"><label for="" style="color: white; font-size: 20px;">Juan</label></div>
        </div>
        <div class="col-xs-6"></div>
        <div class="col-xs-6" style="padding:10px">
            <div class="col-xs-3">
                <mat-icon color="">stars</mat-icon>
            </div>
            <div class="col-xs-9">
                <label for="" style="color:white; font-size: 15px;">9238</label>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="background-color:rgba(87, 140, 255, 0.7); border:3px solid yellow; color:white;">
        <div class="col-xs-6">
            <img src="../../assets/img/super4.gif" style="height: 100px; width: 100px;"  alt="">
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12"><label for="" style="color: white; font-size: 20px;">Capitana Enciam</label></div>
        </div>
        <div class="col-xs-6"></div>
        <div class="col-xs-6" style="padding:10px">
            <div class="col-xs-3">
                <mat-icon color="yellow">stars</mat-icon>
            </div>
            <div class="col-xs-9">
                <label for="" style="color:white; font-size: 15px;">9826</label>
            </div>
        </div>
    </div>
</div>

